@import "../../../styles.styl"

$headerHeight = 3rem
$tabsHeight = 0rem

.main-container
  padding $padding

.header
  left 0
  right 0
  top 0
  height $headerHeight
  padding $padding

.tabs
  left 0
  right 0
  top $headerHeight
  height $tabsHeight
  padding $padding

.detail-panel
  left 0
  right 0
  top $headerHeight + $tabsHeight
  bottom 0
  padding $padding
