<p-dialog [contentStyle]="{'overflow':'visible'}" header="" [(visible)]="displayModal" [modal]="true" [style]="{width: '400px', 'overflow-y':'visible !important'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false" [closable]="true" [header]="'Варианты расчета'">
  <ng-template pTemplate="body" style="overflow-y:visible;">
    <p-table [value]="calcsList" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Вариант</th>
          <th>Описание варианта расчета</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-calc>
        <tr>
          <td>{{calc.id}}</td>
          <td>{{calc.comment}}</td>
          <td><button pButton icon="pi pi-minus" (click)="removeItem(calc)"></button></td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton (click)="this.displayModal = false">Ок</button>
  </ng-template>
</p-dialog>
