@import "../../../../styles.styl"

.panelbar
  position absolute
  left 0
  right 0
  top 0
  height 3rem
  padding: $padding;
  display: flex;

.table
  position absolute
  left 0
  right 0
  top 3rem
  bottom 0rem

.page-container
  position absolute
  left 0
  right 0
  top 0
  bottom 1rem

.list-panel
  position absolute
  left 0
  right 0
  height 1rem
  bottom 0
  padding-left 5rem

.page-button
  float left
  background-color white
  border-width 0.1rem

.ex-selected
  background-color #bebbb8

.vl
  border-left: 6px solid black;
  height: 100%;

